.info {
	background-color: rgba($white, 0.95);
	position: absolute;
	overflow-y: scroll;
	top: 100%;
	left: 6px;
	right: 4px;
	bottom: 1px;
	padding: 80px 10px 10px 10px;
	transition: all 0.5s;
	font-family: $body-font;
	text-align: center;
	cursor: pointer;

	p {
		margin-left: 10px;
		margin-right: 17px;
	}

	nav ul {
		list-style-type: none;
		padding-left: 0;

		li {
			margin-bottom: 5px;
		}
	}
}

.info.show {
	top: 3px;
	cursor: auto;
}

.close-info {
	position: absolute;
	top: 6px;
	right: 10px;
	cursor: pointer;
}