.info {
	background-color: rgba($white, 0.95);
	position: absolute;
	overflow-y: scroll;
	width: 95%;
	top: 100%;
	left: 7px;
	bottom: 5px;
	padding: 10px;
	transition: all 0.5s;
}

.info.show {
	top: 5px;
	cursor: auto;
}

.close-info {
	position: absolute;
	top: 6px;
	right: 10px;
	cursor: pointer;
}